
@{
    ViewBag.Title = "LeaveRequest";
}
<style>
            .main-container{
                width : 800px;
                margin: 50px;
                border: 1px black;
                border-style: solid;
                border-width: 1px;
                padding: 25px;
            }
            .body-form{
                width: 90%;
            }
            .width-30
                width: 28%;
            }
            .width-70{
                width: 65%;
            }
            .width-90{
                width: 90%;
            }
            .float-left{
                float: left;
            }
            .float-right{
                float: right;
            }
            table{
                width: 700px;
            }
            td{
                height: 50px;
                font-family: sans-serif;s
            }
            table, td, th {
                border: 0px solid green;
            }
            .button-area{
                margin-left: 60%;
            }
        </style>

<script>
    $(document).ready(function() {
       $("#fr-type").kendoDropDownList();
       $("#fr-date").kendoDatePicker();
       $("#fr-timeFrom").kendoTimePicker();
       $(".k-Button").kendoButton();
       $("#files").kendoUpload();

    });
</script>

<h2>LeaveRequest</h2>

<div class="main-container">
    <div class="header">
    </div>

    <div class="body-form">
        <table>
            <tr>
                <td class="width-30"> Name </td>
                <td> : </td>
                <td class="width-70"> <input id="fr-name" type="text" class="k-textbox width-90"></input> </td>
            </tr>
            <tr>
                <td> Department </td>
                <td> : </td>
                <td><input id="fr-dept" type="text" class="k-textbox width-90"></input></td>
            </tr>
            <tr>
                <td> Type </td>
                <td> : </td>
                <td>
                    <select name="type" id="fr-type" class="width-90" required data-required-msg="Select start time">
                        <option>1. Own Choice</option>
                        <option>2. Negative Leave for Compensation</option>
                        <option>3. Maternity</option>
                        <option>4. Long Leave After 12 Years Working</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>From</td>
                <td> : </td>
                <td><input id="fr-timeFrom" class="width-90" /></td>
            </tr>
            <tr>
                <td>Reason</td>
                <td> : </td>
                <td><textarea id="fr-reason" class="k-textbox width-90"></textarea></td>
            </tr>
            <tr>
                <td>Date</td>
                <td> : </td>
                <td><input id="fr-date" class="width-90" /></td>
            </tr>
            <tr>
                <td>Evidence</td>
                <td>:</td>
                <td><input name="files" id="files" type="file" /></td>
            </tr>
        </table>

        <div class="button-area">
            <div id="btnSubmit" class="k-button ">Submit</div>
            <div id="btnSubmit" class="k-button ">Cancel</div>
        </div>

    </div>

